{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transected</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.stock }}</td>
            <td>{{ stock.shares }}</td>
            <td>{{ stock.price | usd }}</td>
            <td>{{ stock.purchase_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}